@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;700;900&display=swap');
*{
    padding: 0;
    margin:0;
    font-family: 'Red Hat Display', sans-serif;
}
.wrapper{
    width:100%;
    height: 100vh;
    
    background-color: #E0E7FE;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_container{
    
    width:400px;
    background-color: white;
    border-radius:20px;
}
.upper{
    width:100%;
   
}
.hero{
    width:100%;
    height:200px;
    border-radius: 15px 15px 0 0;
}
.lower{
    padding: 30px;
    text-align: center;
}
h2{ 
    margin:10px;
    font-size: 30px;
    font-weight: 900;
}
p{
    margin:10px;
    font-size: 16px;
    color:   hsl(224, 23%, 55%) ;
}
.price_tag{
    display: flex;
    background:  hsl(225, 100%, 98%) ;
    padding: 20px 15px;
    border-radius: 10px;
}
.flex{
    margin-left: 20px;
    width: 200px;
    text-align: left;
    
}

.bold{
    font-weight: 700;
    padding-bottom: 5px;
}
a{
    font-size: 16px;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
    display: flex;
    align-items: center;
}
button{
    background-color: hsl(245, 75%, 52%);
    margin: 20px 0;
    padding: 15px 90px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    color:white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    border:none;
}
.cancel{
    font-size: 16px;
    color:   hsl(224, 23%, 55%) ;
    font-weight: 700;
}
a:hover{
    cursor: pointer;
    text-decoration: none;
    color: hsl(223, 47%, 23%);
}
button:hover{
    cursor:pointer;
 
background-color: hsl(223, 47%, 23%);

    
}
.cancel:hover{
    cursor:pointer;
    color: black;

}